@font-face {
  font-family: "HK Grotesk";
  font-weight: 600;
  src: url("../assets/hkgrotesk-semibold-webfont.woff2") format("woff2"),
    url("../assets/hkgrotesk-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-weight: 700;
  src: url("../assets/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("../assets/hkgrotesk-bold-webfont.woff") format("woff");
}

:root {
  --color-peach: #ecc7ab;
  --color-orange: #d9a724;
  --color-yellow: #ffd363;
  --color-aqua: #738da0;
}

body {
  margin: 0;
  font-family: "HK Grotesk";
  font-size: 18px;
  line-height: 1.5;
  background-color: #ecc7ab;
  color: #fff;
}

h2 {
  font-size: 120px;
  line-height: 0.9;
}

a {
  text-decoration: none;
  color: #fff;
}

/*///////////////////
////// HEADER //////
//////////////////*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

header h1 {
  margin: 0;
}

header nav img {
  visibility: hidden;
}

.menu-toggle {
  font-size: 12px;
  line-height: 1.2;
}

.menu-toggle img {
  display: none;
}

/* MENU  */

.menu {
  padding: 0 53px 0 130px;
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 0;
  right: 0;
  background-color: var(--color-yellow);
  height: 100vh;
  text-align: right;
  transform: translateX(100%);
}

.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*//////////////////////
/////// TAGLINE ///////
/////////////////////*/

.tagline {
  position: relative;
  padding-right: 570px;
  max-width: 928px;
  margin: 0 auto 195px auto;
  box-sizing: border-box;
}

.tagline img {
  max-width: 430px;
}

.tagline h2 {
  width: 570px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-28px, -50%);
  font-size: 120px;
  line-height: 0.9;
}

.tagline .circle {
  top: 60px;
  left: 0;
  transform: translateX(-50%);
}

.tagline .square {
  bottom: 0;
  left: 180px;
  transform: translateY(50%);
}

/*////////////////////////////
///////// ONE-THING /////////
///////////////////////////*/

.one-thing {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  margin-bottom: 240px;
}

.one-thing img {
  margin-right: 162px;
  width: 660px;
}

.one-thing .copy {
  position: absolute;
  right: 745px;
}

.one-thing h2 {
  margin: 0;
  width: 561px;
}

.one-thing p {
  margin: 66px 0 0;
  width: 350px;
  font-size: 24px;
  line-height: 1.5;
}

.one-thing .circle {
  top: 120px;
  right: 678px;
  transform: translateX(-50%);
}

.one-thing .square {
  right: 12px;
  transform: translateX(-50%);
}

/*////////////////////////////
///////// LOOKBOOKS /////////
///////////////////////////*/

.lookbooks {
  display: grid;
  place-items: center;
  text-align: center;
  height: 680px;
  background: center / cover no-repeat url(../assets/image_3.jpeg);
}

/*//////////////////
////// SHAPES //////
//////////////////*/

.shape {
  position: absolute;
}

.circle {
  width: 144px;
  height: 144px;
  background-color: #d9a724;
  border-radius: 50%;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #738DA0;
}

/*////////////////////////////////////////////////////
///////////////// SPRING COLLECTION /////////////////
///////////////////////////////////////////////////*/

.collection {
  display: grid;
  place-items: center;
  padding: 240px 0;
  position: relative;
}

.collection img {
  width: 900px;
}

.collection h2 {
  position: absolute;
  width: 600px;
  bottom: 0;
  text-align: center;
  line-height: 1;
}

.collection .circle {
  top: 160px;
  right: 400px;
}

.collection .square {
  top: 50%;
  left: 225px;
  transform: translateY(-50%);
}

/*///////////////////
////// FOOTER //////
//////////////////*/

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 368px;
  padding-bottom: 50px;
  font-size: 60px;
  line-height: 1.5;
  background: top / cover no-repeat url(../assets/footer.svg);
}

footer a {
  margin-right: 35px;
}

/*////////////////////////////
///////// UTILITIES /////////
///////////////////////////*/

.tr {
  box-sizing: border-box;
  border: 5px dashed red;
}