@font-face {
  font-family: "HK Grotesk";
  font-weight: 600;
  src: url("../assets/hkgrotesk-semibold-webfont.woff2") format("woff2"),
    url("../assets/hkgrotesk-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-weight: 700;
  src: url("../assets/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("../assets/hkgrotesk-bold-webfont.woff") format("woff");
}

:root {
  --color-peach: #ecc7ab;
  --color-orange: #d9a724;
  --color-yellow: #ffd363;
  --color-aqua: #738da0;
}

body {
  font-family: "HK Grotesk";
  font-size: 18px;
  line-height: 1.5;
  background-color: #000000;
  color: #eeeeee;
}

/*///////////////////
////// HEADER //////
//////////////////*/

header {
  overflow: hidden;
}

header h1 {
  float: left;
}

header nav {
  float: right;
}

header nav img {
  visibility: hidden;
}

/* Menu */

.menu {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-yellow);
}

.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}